<h1>Add a new car</h1>

<form action="/new-car" method="post">

  <label for="carMake">Make</label>
  <input id="carMake" name="carMake" type="text">

  <label for="carYear">Year</label>
  <input id="carYear" name="carYear" type="text">

  <label for="carColor">Color</label>
  <input id="carColor" name="carColor" type="text">

  <button type="submit" class="btn btn-success>Add Car</button>
</form>
